<html>
    <head>
        <title>Log-in</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <h1>Log-in Form</h1>
        <form action="/log-in" method="post">
            <div>
                <label for="username">Email:</label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>