<html>
    <head>
        <title>Secret Club</title>
    </head>
    <body>
        <h1>Enter the secret number</h1>
        <form action="/secret" method="post">
            <label for="secretPass">Secret Password:</label>
            <input type="password" name="secretPass" id="secretPass">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>